# OpenPD photodiode amplifier
SUBSYSTEMS=="tty", ACTION=="add", ATTR{idVendor}=="2323", ATTR{idProduct}=="0003", ATTR{iProduct}=="power meter", MODE="0666", SYMLINK+="ttyUSB.openpd"